<!--<h1>CurrencyPipe</h1>-->
<!--<p>{{'100' | currency: 'EUR'}}</p>-->
<!--&lt;!&ndash;Если хоти убрать значение после точки тогда Symbol-narrow&ndash;&gt;-->
<!--<p>{{'555' | currency: 'RU': 'symbol-narrow'}}</p>-->
<!--&lt;!&ndash;<p>{{'555' | currency: 'RU': 'symbol-narrow': ' 1.0 -2'}}</p>&ndash;&gt;-->
<!--&lt;!&ndash;<p>{{'444' | currency: 'Dollar': 'symbol': '$'}}</p>&ndash;&gt;-->
<!--<p>{{'444' | currency: 'Dollar': 'symbol'}}</p>-->
<!--<h1>PrecentPipe</h1>-->
<!--<p>{{1/3}}</p>-->
<!--<p>{{1/2 | percent}}</p>-->
<!--<p>{{1/2 | percent: '1.0-2'}}</p>-->
<div *ngIf="expression; else: elseCase">
  <app-some-big-auto></app-some-big-auto>
</div>

<ng-template #elseCase>
  <app-some-big-air></app-some-big-air>
</ng-template>
<button (click)="expression = !expression">Toggle</button>

<div *ngIf="!expression; else:elseCase1">
  <app-some-big-ship></app-some-big-ship>
</div>

<ng-template #elseCase1>
  <app-some-big-air></app-some-big-air>
</ng-template>
<button (click)="expression = !expression">Toggle</button>


